<?xml version="1.0" encoding="UTF-8"?>
<beans default-lazy-init="true"
    xmlns="http://www.springframework.org/schema/beans"
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:util="http://www.springframework.org/schema/util"
    xmlns:jpa="http://www.springframework.org/schema/data/jpa"
    xsi:schemaLocation=" 
       http://www.springframework.org/schema/beans  
  	   http://www.springframework.org/schema/beans/spring-beans-4.3.xsd 
       http://www.springframework.org/schema/mvc  
       http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd  
       http://www.springframework.org/schema/tx  
       http://www.springframework.org/schema/tx/spring-tx-4.3.xsd  
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
       http://www.springframework.org/schema/util
       http://www.springframework.org/schema/util/spring-util-4.3.xsd
       http://www.springframework.org/schema/data/jpa      
       http://www.springframework.org/schema/data/jpa/spring-jpa-1.3.xsd
       http://www.springframework.org/schema/context
   	   http://www.springframework.org/schema/context/spring-context-4.3.xsd" >
   	   <context:component-scan base-package="com.jt"/>
   	   <import resource="classpath:spring-mybatis.xml"/>
	   <import resource="classpath:spring-mvc.xml"/>
	   <aop:aspectj-autoproxy/><!-- 启用AOP的注解 -->
 	   <!-- <import resource="classpath:spring-shiro.xml"/>  -->
 	   <!-- 定义事物管理的方法，一个切面，系统底层会基于AOP调用此对象中的方法 -->
 	   <bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"/>
	   </bean>
 	   	<!-- 启用哪个事物管理器：系统底层访问该事物管理对象，此切面无需自己定义，系统已写好，直接调用 -->
 	   	<tx:annotation-driven transaction-manager="txManager"/>
</beans>